body {
    background-image: url(/assets/FrontPage/dungeon2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}
.email-container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    padding: 20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #95adbe; 
    border-radius: 8px; 
}
.form-label, .form-text {
    color: black;
}
@media (max-width: 576px) {
    .email-container {
        padding: 10px;
    }
}
.password-container{
    position: relative;
}
#show-password{
    background-color:white;
    border: none;
    position: absolute;
    top: 55%;
    right: 10px;
    cursor: pointer;
    width: 2rem;
    align-items: center;
}
#show-password-check{
    background-color:white;
    border: none;
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    width: 2rem;
    align-items: center;
}
#show-password img, #show-password-check img{
    width: 100%;
    height: auto;
}
.btn{
    background-color: #574f7d;
    color: white;
    transition: background-color 0.3s ease;     
}
.btn:hover{
    background-color: #503a65; 
}
.back{
    color: white;
}