/* body {
  transition: 0.5s;
} */


/*  */

.edit-profile {
  background-color: #e0f0ea;
  position: fixed;
  width: 40%;
  inset: 0 -40% 0 auto;
  transition: 0.5s;
  z-index: 2;
  height: 100%;
  overflow: auto;
}

.dark-background{
  background-color: #000;
  height: 100vh;
  inset: 0 0 0 0;
  opacity: 0%;
  position: fixed;
  transition: 0.5s ;
  z-index: 0;
}

.edit-profile button{
  border: 2px solid #503a65;
  background-color: #95adbe;
  color: #000000;
}

#image-edit{
  display: none; 
  background-color: #574f7d;
}

body.show-edit .edit-profile {
  inset: 0 0 0 auto;
}

body.show-edit .dark-background {
  opacity: 50%;
  z-index: 1;
}


img {
  object-fit: cover;
  width: 250;
  height: 250;
}

.heading {
  color: #e0f0ea;
  /* border-radius: 1rem;
      width: 30%; */
}

.edit_profile {
  background-color: #574f7d;
  height: 100%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}


.edit_achievment {
  background-color: #95adbe;
  border: 2px solid #503a65;
}

input[type="text"],
textarea {
  background-color: #95adbe;
  color: #000;
  border: 2px solid #503a65;
}

.achievment-dropdown img{
  cursor: pointer;
}

.achievment-dropdown img:hover{
  /* border: 1px solid #503a65; */
  padding: 2px;
}


/*  */

#profile {
  background-image: url("assets/FrontPage/dungeon2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: 0.5s;
  /* height: 10000px; */
}

@font-face {
  font-family: Pixel-Font;
  src: url("./assets/FrontPage/4x4kanafont.ttf");
}

.Pixel-Font {
  font-family: Pixel-Font;
}

#edit {
  background-color: #503a65;
}

.all {
  background-color: #503a65;
  color: #e0f0ea;
  opacity: 90%;
}

section {
  padding-top: 3rem;
}

#death-achievment {
  background-color: #574f7d;
  border-radius: 2rem;
  margin-top: 0%;
}

.achievment {
  background-color: #574f7d;
  border-radius: 2rem;
}

