body {
  background-image: url("../../assets/FrontPage/dungeon2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.pencarian {
  cursor: pointer;
}
body.show-search .sidebar-content {
  inset: 0 0 0 auto;
}
.sidebar-content {
  background-color: #e0f0ea;
  position: fixed;
  width: 40%;
  inset: 0 -40% 0 auto;
  transition: 0.5s;
  z-index: 2;
  height: 100%;
  overflow: auto;
}
.dark-background {
  background-color: #000;
  height: 100vh;
  inset: 0 0 0 0;
  opacity: 0%;
  position: fixed;
  transition: 0.5s;
  z-index: -1;
}
body.show-search .dark-background {
  opacity: 50%;
  z-index: 1;
}
.login-container {
  width: 100%;
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  font-size: 90px;
  text-align: center;
  color: #e0f0ea;
}
.form-control {
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 2px 3px 5px black;
}
.btn {
  border-radius: 50px;
  font-size: 20px;
}
.account-container {
  display: flex;
  justify-content: flex-end;
}
.account-container img {
  border-radius: 50%;
  background-color: #95adbe;
  transition: 0.3s ease;
  box-shadow: 1px 1px 1px black;
  width: 45px;
  height: 45px;
}
.gambar {
  margin-right: 5px;
}
.guest-container {
  margin-top: 10px;
  margin-right: 15px;
}
.btn-login,
.btn-play,
.btn-guest {
  border: 1px solid black;
  background-color: #95adbe;
  transition: 0.3s ease;
  box-shadow: 3px 3px 5px black;
}
.btn-login:hover,
.btn-play:hover,
.btn-guest:hover,
.account-container img:hover {
  background-color: #728a9d;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
.advice {
  color: #e0f0ea;
}
.btn-logout {
  border: 1px solid black;
  background-color: #95adbe;
  transition: 0.3s ease;
  box-shadow: 3px 3px 5px black;
}
.btn-logout:hover {
  background-color: #728a9d;
  color: white;
}

.search-container {
  width: 98%;
  /* max-width: 600px; */
  background-color: white;
  margin-left: 7px;
  padding: 20px;
  border-radius: 8px;
  background-color: #728a9d;
}
.search-form {
  /* border-radius: 30px; */
  /* background-color: #574f7d; */
  width: 98%;
}
.result-container {
  width: 98%;
  height: 72%;
  overflow: auto;
  /* max-width: 600px; */
  margin-top: 20px;
  margin-left: 7px;
  padding: 15px;
  background-color: #728a9d;
  border-radius: 8px;
}
.result-content {
  background-color: #503a65;
  display: flex;
  margin : 2px;
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.result-content img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.btn-search {
  background-color: #574f7d;
  color: white;
  transition: background-color 0.3s ease;
}
.btn-search:hover,
.back:hover {
  background-color: #503a65;
  color: white;
}
.back {
  margin-top: 10px;
  margin-left: 1%;
  background-color: #574f7d;
  color: white;
  border-radius: 6px;
  transition: 0.3s ease;
  font-size: 1rem;
}
